<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style_customer.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <title>Welcome !!</title>
        
    </head>
    
    <body>
        <div>
            <div class="menutop">
                <div id="topHead">
                    <h1>Bonjour Monsieur !!</h1>
                    <br>
                    <h3 id="subhead1">We from Booking Jini Welcome you</h3>
                </div>            
            </div>
            <div id="toggleBar">
            <ul>
                <li id="first"><a href="#intro">Jini Dost</a></li>
                <li><a href="#hotel">Restraunt</a></li>
                <li><a href="#serve">Services</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
            <div id="intro">
                <h3>Welcome !!!</h3>
                <p>We at Hotel Jini,</p>
                <form action="Logout" method="post">
                    {% csrf_token %}
                <button id="logoutbtn">LOGOUT</button>
                </form>
            </div>
            <div id="hotel" class="hotel">
                <h3 id="special_head">Today's Special</h3>
                <div id="back">
                    <div class="food">
                        <p><strong><em>"Popcorn for breakfast! Why not? It's a grain. It's like, grits, but with high self-esteem".</em></strong></p><p><em> So come on then, pull up a chair. Take a taste. Come join us. Life is so endlessly delicious.There is no love sincerer than the love of food.Let food be thy medicine and medicine be thy food.</em></p>
                        <h3 id="today_special">Today's Special </h3>
                        <table>
                            {% for menus in todayspecial%}
                            <tr><td> {{menus.Breakfast}}</td><td>{{menus.Lunch}}</td><td>{{menus.Dinner}}</td></tr>
                            {%endfor%}
                            <!--<tr><td> Masala Cheese French Toast</td><td>Shahi Egg Curry/Urlai Roast</td><td>Chettinad Fish Fry/Dum Aloo Lakhnawi </td></tr>-->
                        </table>
                    </div>
                    <img src="{% static 'Image/hot_food.jpg' %}" alt="Hot food Picture" id="hot_food">
                </div>  
                <h2 id="menu_head">Menu</h2>
                <div id="backs" class="foods">
                    <table>
                        {% for menus in menu%}
                            <tr><td> {{menus.Breakfast}}</td><td>{{menus.Lunch}}</td><td>{{menus.Dinner}}</td></tr>
                            {%endfor%}
                        <!--<tr><td> Masala Cheese French Toast</td><td>Shahi Egg Curry/Urlai Roast</td><td>Chettinad Fish Fry/Dum Aloo Lakhnawi </td></tr>-->
                    </table>
                <!-- <p>content2</p> -->
                    <h3 id="nonveg">Nonveg </h3>
                    <div class="food">
                        <table>
                            {% for menus in nonveg%}
                            <tr><td> {{menus.Breakfast}}</td><td>{{menus.Lunch}}</td><td>{{menus.Dinner}}</td></tr>
                            {%endfor%}
                            <!--<tr><td> Masala Cheese French Toast</td><td>Shahi Egg Curry/Urlai Roast</td><td>Chettinad Fish Fry/Dum Aloo Lakhnawi </td></tr>-->
                        </table>
                    </div>
                </div>
            </div>
            <div id="serve">
                <h4>Check OUT</h4>
                <div>
                    <p>We hope you had a pleasent stay at the hotel.Do rate and review us on Google. Because :</p><p>"Great hotels have always been social ideas, flawless mirrors to the particular societies they service."</p>
                    <form action="logout">
                        <button id="chechOut" type="submit">Check Out</button>
                    </form>
                </div>        
                <h4>Luggage Service</h4>
                <div>
                    <p>"We have a passion for luggage - trunks and so on. We have a collection of them and we deliver to you"</p>
                    <form class="form-inline form-group" action="luggageservice" method = "post" id="luggage_serv">
                        {% csrf_token %}
                    <div id="luggage_button">
                    </div>
                        <button type="submit" id="lug_but">Request Service</button>
                    </form>
                    
                    
                    
                    <div id="confirm_lug" title="Submit Request">
                    <p><span class="ui-icon ui-icon-alert"></span>Hey are you sure you want to Continue ?</p>
                </div>
                </div>
                <h4>Room Service</h4>
                <div>
                    <p>"Your Comfort is our Pleasure !"</p>
                    <form class="form-horizontal" action="roomservice" method="post" id="room_service">
                        {% csrf_token %}
                        <label >Service :</label>
                        <select class="form-control" name="service" id="optionsServices">
                            <option selected="true" disabled="disabled">Select Option</option>
                            <option>Room Cleaning</option>
                            <option>Electrician</option>
                            <option>Plumber</option>
                            <option>Snacks</option>
                            <option>Laundary</option>
                            <option>Atendee Female</option>
                            <option>Attendee Male</option>
                        </select><br>
                        <button id="serv_request" type="submit">Request Service</button>
                    </form><br>
                    
                    <div id="confirmation" title="Submit Request">
                        <p><span class="ui-icon ui-icon-alert"></span>Hey are you sure you want to Continue ?</p>
                    </div>
                </div>

            </div>
            <div id="contact">
                <h4 id="contactRequest">Contact Request</h4>
                <form id="contact_form" action="contact" method="post">
                    {% csrf_token %}
                    <div class="form-inline form-group localAlign">
                        <label >Room Number :</label>
                    <input id="room" type="text" required="" name="room" class="form-control" placeholder="Enter Room Number">
                    </div>
                    <div class="form-inline form-group localAlign">
                        <label >Date of Check IN : </label>
                        <input id="join" name="datein" required=""  class="form-control" placeholder="Enter Date of Check IN">
                    </div>
                    <div class="form-inline form-group localAlign">
                        <label >Date of Check OUT : </label>
                        <input id="leave" required=""  name="dateout" class="form-control" placeholder="Enter Date of Check OUT">
                    </div>
                    <div class="form-inline localAlign">
                        <label>Phone-Number :</label>
                        <input id="phNo" type="text" required=""  name="phone" maxlength="10" class="form-control" placeholder="Enter 10 - digits Phone Number">
                    </div>
                    <div id="divbutton"><button id="contactButton" type="submit">Submit</button></div>
                </form>
                
                <div id="confirm_contact" title="Submit Request">
                    <p><span class="ui-icon ui-icon-alert"></span>Hey are you sure you want to Continue ?</p>
                </div>
                </div>
            </div>
        </div>
        
        <script>
            
            $("#confirmation").dialog({
                modal: true,
                autoOpen: false,
                buttons:{
                    "Yes,proceeed": function(){
                        document.getElementById("room_service").reset();
                        window.alert("Your request is Sumbitted. We will get back to you shortly");
                    $("#confirmation").dialog("close");
                    },
                cancel : function(){
                    
                    $("#confirmation").dialog("close");
                }
                }
            });
            $("#serv_request").click(function(){
                $("#confirmation").dialog("open");
            });
            
            
            
            $("#confirm_lug").dialog({
                modal: true,
                autoOpen: false,
                buttons:{
                    "Yes,proceeed": function(){
                        document.getElementById("luggage_serv").reset();
                        
                        window.alert("Your request is Sumbitted. We will get back to you shortly");
                        
                    $("#confirm_lug").dialog("close");
                    },
                cancel : function(){
                    
                    $("#confirm_lug").dialog("close");
                }
                }
            });
            $("#lug_but").click(function(){
                $("#confirm_lug").dialog("open");
            });
            
            
            $("#confirm_contact").dialog({
                modal: true,
                autoOpen: false,
                buttons:{
                    "Yes,proceeed": function(){
                        document.getElementById("contact_form").reset();
                        
                        window.alert("Your request is Sumbitted. We will get back to you shortly");
                        
                    $("#confirm_contact").dialog("close");
                    },
                cancel : function(){
                    
                    $("#confirm_contact").dialog("close");
                }
                }
            });
            $("#contactButton").click(function(){
                $("#confirm_contact").dialog("open");
            });
            
            
            
            
            
//Jquery Code here            
            $(function(){
                $("#toggleBar").tabs();
                $("#hotel").accordion({
                    heightStyle: "content",
                    collapsible: true
                });
                $("#serve").accordion({
                    heightStyle: "content",
                    collapsible: true
                });
                $("#join").datepicker({
                    showAnim: "drop",
                    changeYear: true,
                    numberOfMonths:1,
                    changeMonth: true,
                    dateFormat: 'yy-mm-dd'
                });
                $("#leave").datepicker({
                    showAnim: "drop",
                    changeYear: true,
                    numberOfMonths:1,
                    changeMonth: true,
                    dateFormat: 'yy-mm-dd'
                });
                $("button").button();
            })
        </script>
    </body>
</html>